<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.huple.jeju2ri.api.mapper.SpotMapper">

	<select id="getSpotId" resultType="String">
		SELECT 'SPOT' || LPAD(SPOT_SEQ.NEXT_VALUE, 16, '0')
	</select>

	<select id="findBySpotId" parameterType="String" resultType="kr.huple.jeju2ri.api.model.response.SpotResponse">
		SELECT *
		  FROM SPOT_TB
		 WHERE SPOT_ID = #{spotId}
	</select>

	<insert id="add" parameterType="kr.huple.jeju2ri.api.model.SpotDto">
		INSERT INTO SPOT_TB (
		  SPOT_ID
		, SPOT_NM
		, SPOT_LAT
		, SPOT_LNG
		<if test="@kr.huple.jeju2ri.util.CmmnUtil@notEmpty(spotTime)">
			, SPOT_TIME
		</if>
		, SPOT_ADDR
		, SPOT_ADDR_DESC
		, SPOT_CONTENTS
		, IMAGE_URL
		, CREATE_ID
		, CREATE_DT
		, UPDATE_ID
		, UPDATE_DT
		) VALUES (
		  #{spotId}
		, #{spotNm}
		, #{spotLat}
		, #{spotLng}
		<if test="@kr.huple.jeju2ri.util.CmmnUtil@notEmpty(spotTime)">
			, #{spotTime}
		</if>
		, #{spotAddr}
		, #{spotAddrDesc}
		, #{spotContents}
		, #{imageUrl}
		, #{createId}
		, NOW()
		, #{updateId}
		, NOW()
		)
	</insert>

	<update id="edit" parameterType="kr.huple.jeju2ri.api.model.SpotDto">
		UPDATE SPOT_TB
		   SET SPOT_NM = #{spotNm}
			 , SPOT_LAT = #{spotLat}
			 , SPOT_LNG = #{spotLng}
			 <if test="@kr.huple.jeju2ri.util.CmmnUtil@notEmpty(spotTime)">
			 , SPOT_TIME = #{spotTime}
			 </if>
			 , SPOT_ADDR = #{spotAddr}
			 , SPOT_ADDR_DESC = #{spotAddrDesc}
			 , SPOT_CONTENTS = #{spotContents}
		     <if test="@kr.huple.jeju2ri.util.CmmnUtil@notEmpty(imageUrl)">
			 , IMAGE_URL = #{imageUrl}
			 </if>
			 , UPDATE_ID = #{updateId}
			 , UPDATE_DT = NOW()
		 WHERE SPOT_ID = #{spotId}
	</update>

</mapper>

